body {
  position: relative;
  background-color: black;
  color: white;
}

.container .circle {
  float: left;
}

.container .stats {
  float: right;
  width: 20%;
}

.container #scoreboard {
  width: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  margin: 0px;
  height: 150px;
  width: 150px;
  background-color: white;
}

body {
  position: relative;
  background-color: black;
  color: white;
}

.container .circle {
  float: left;
}

.container .stats {
  float: right;
  width: 20%;
}

.container #scoreboard {
  width: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  margin: 0px;
  height: 150px;
  width: 150px;
  background-color: white;
}
